body{
    color: white; 
   background:black;
   margin: 0px;
   font-family: "Chakra Petch", sans-serif;
   margin-bottom: 100px;
}

header{ 
    border-bottom: solid 2px rgb(213, 155, 21) ;
    padding: 20px;
    font-size: 42px;
    color: rgb(222, 16, 12)
}

.chamada{ background: rgb(57, 36, 82);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content: center;

}
h1{
    font-size: 32px;
}
p{
    font-size: 28px;
}
img{

    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x:auto;
    gap: 7px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;

}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid orange;
}
.categoria h2{
    color: rgb(199, 122, 40);
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

